.glowBtn {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid var(--user-checked-color-rgb);
  border-radius: 999px;

  padding: 25px 50px;
  width: 210px;
  background-color: transparent;

  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;

  cursor: pointer;
  user-select: none;
}

.glowBtn:hover {
  transform: scale(1.05);
  background-color: var(--user-checked-color-rgb);
  color: var(--user-checked-font-color);
}

.glowBtn:hover::after {
  content: '';

  position: absolute;
  left: -1px;
  right: -1px;
  top: -1px;
  bottom: -1px;
  z-index: -1;

  background-color: inherit;
  filter: blur(30px);
}

.glowBtn:active {
  transform: scale(1.01);
}