//  universal
.z-index-999 {
    z-index: 999;
}

//  universal

.container {
    padding: 0;
    background-color: transparent;
    box-shadow: none;
}

.container.carouselContainer {
    // margin-top: 4rem;
    margin-top: 30px;
    border-radius: .6rem;

    overflow: hidden;
}

#carouselCaptions {
    // border-radius: 10px;

    .carousel-item {
        height: 45vh;
        filter: brightness(var(--user-carousel-img-brightness));

        h5,
        p {
            font-weight: 300;
            line-height: 1.2;
        }

        p span:nth-child(-n + 2) {
            margin-right: 0.8rem;
        }
    }
}

.useful-cards,
.useless-cards {
    margin-top: 4rem;
}

.card {
    border: none;
    border-radius: .6rem;
    // height: 40vh;

    overflow: hidden;

    * {
        letter-spacing: 0.1rem;
    }

    &.ichikaCard {
        .card-text a {
            color: inherit;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .imgBox {
        img {
            aspect-ratio: 1980/1080;

            transition: all .3s;
            filter: brightness(var(--user-card-brightness));

            &:hover {
                filter: brightness(var(--user-hover-brightness));
            }
        }

        &:hover img {
            transform: scale(1.05);
        }
    }

    .card-body {
        a.btn {
            width: 100%;
            // border-width: 1px;
        }
    }
}

@media (max-width: 768px) {
    .card {
        margin-top: 4rem;
    }
}

.getInBtn {
    position: fixed;

    left: 30px;
    top: 30px;

    svg {
        height: 65%;
        transform: translateX(1px);
    }
}

.guide {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;

    display: none;

    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .7);

    font-size: 1.1rem;
    // color: #fff;

    .btnSlider {
        // opacity: 0;
        display: none;
        position: absolute;
        width: 65px;
        height: 65px;
        background-color: var(--bs-body-bg);
        border-radius: 50%;

        transition: all .3s;
    }

    .guideContent {
        position: absolute;

        display: none;
        padding: 1rem;
        height: 110px;
        background-color: var(--bs-body-bg);

        border-radius: .5rem;

        &#infoGuide {
            height: 145px;
        }

        button {
            position: absolute;
            right: 1rem;

            text-transform: uppercase;
        }
    }
}

.modal-footer {
    justify-content: space-between;
}

.space {
    color: transparent;
    user-select: none;
    // display: none;
}

.toastBox {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;

    border-radius: 10px;
    overflow: hidden;

    * {
        background-color: var(--user-bg-color);
    }


    .toast {

        .toast-header,
        .toast-body {
            padding: 0.75rem 1rem;
        }

        .toast-header {
            border-color: rgb(var(--user-checked-color-rgb));

            img {
                width: 20px;
                height: 20px;
            }

            .btn-close {
                // display: flex;
                // justify-content: center;
                // align-items: center;

                // background-image: none;
                background-color: transparent;
                // // border: 1px solid #000;

                color: var(--user-btn-font-color);
                // text-transform: uppercase;
                // transform: scale(1.5);
            }
        }
    }

}

// copyright
d1v {
    display: none;
}

footer {
    margin-top: 1rem;
    margin-bottom: .5rem;

    text-align: center;
    color: var(--user-btn-font-color);
    animation: footerAnim 1s infinite alternate;

    @keyframes footerAnim {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }
}